[submodule "third_party/imgui"]
	path = third_party/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "third_party/filedialog"]
	path = third_party/filedialog
	url = https://github.com/btzy/nativefiledialog-extended.git
